body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background: radial-gradient(red,blue,pink,orange);
    height: 100vh;
}
#person-img{
    height: 10%;
    width: 10%;
}
.button-container{
    font-size: 15px;
    padding: 5px;
    margin: 5px;
}